* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 247);
}

nav {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0.6rem 1rem;
}

nav .container {
    flex: 1 0 auto;
}

.search {
    display: flex;
    /* justify-content: center; */
}
.search input[type="text"] {
    height: 80%;
}

.search button[type='submit'] {
    height: 80%;
}
.search button[type='submit'] img {

}