@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    padding: 1rem;
    /* SÓ POR ENQUANTO */
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}


ol#pokedex-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


/* Pokemon Card */
li.pokemon {
    display: flex;
    flex-direction: column;
    width: 300px;

    border: 2px solid black;
    border-radius: 4px;
}

.pokemon-id {
    display: flex;
    background: linear-gradient(135deg,rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-bottom: 1px solid black;
    padding: 5px;
    gap: 8px;
    font-weight: 600;
}
.pokemon-id p {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.sprite-area {
    background-image: url('../images/backgroundHoenn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px;

    border-bottom: 2px solid #2c5415;
    margin-bottom: 0.5rem;
}
.sprite-area img {
    padding: 0.8rem;
}

.pokemon-details {
    
}
.pokemon-details .types {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.pokemon-details .types .type {
    /* border: 1px black solid; */
    border-radius: 10px;
    padding: 2px; 
    width: 4rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
}
.pokemon-details .stats {
    margin: 0 10px;
}
.pokemon-details .stats .stat {
    display: flex;
    gap: 8px;
    margin: 8px 0;
}
.stat p {
    width: 10%;
    text-transform: uppercase;
}
.stat .bar {
    /* Valor de Width vai ser com base em 100% de 255 */
    width: 47px;
    border-radius: 20px;
}

/* Types */
.grass {
    background-color: #7AC74C;
    border: 1px solid #62a13e;
}

.fire {
    background-color: #EE8130;
    border: 1px solid #c96c28;
}

.water {
    background-color: #6390F0;
    border: 1px solid #4f76c4;
}

.electric {
    background-color: #F7D02C;
    border: 1px solid #d4b024;
}

.grass {
    background-color: #7AC74C;
    border: 1px solid #62a13e;
}

.ice {
    background-color: #96D9D6;
    border: 1px solid #78b6b3;
}

.fighting {
    background-color: #C22E28;
    border: 1px solid #9e2621;
}

.poison {
    background-color: #A33EA1;
    border: 1px solid #823281;
}

.ground {
    background-color: #E2BF65;
    border: 1px solid #bca551;
}

.flying {
    background-color: #A98FF3;
    border: 1px solid #8872ca;
}

.psychic {
    background-color: #F95587;
    border: 1px solid #d14470;
}

.bug {
    background-color: #A6B91A;
    border: 1px solid #869514;
}

.rock {
    background-color: #B6A136;
    border: 1px solid #958129;
}

.ghost {
    background-color: #735797;
    border: 1px solid #5c457a;
}

.dragon {
    background-color: #6F35FC;
    border: 1px solid #5c2cc9;
}

.dark {
    background-color: #705746;
    border: 1px solid #5a4638;
}

.steel {
    background-color: #B7B7CE;
    border: 1px solid #9494aa;
}

.fairy {
    background-color: #D685AD;
    border: 1px solid #b86d91;
}

/* Bar-Colors */
.veryLow-value {
    background-color: #ff2c2c;
}

.low-value {
    background-color: #ffa500;
}

.medium-value {
    background-color: #ffdd57
}

.high-value {
    background-color: #adff2f;
}

.veryHigh-value {
    background-color: #7dc216;;
}

.super-value {
    background-color: #00e1ff;
}